.dashboard {
  padding: 2rem;
}

.welcomeMessage {
  margin-bottom: 2rem;
}

.topRow {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.summary {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.widgets {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.middleRow {
  margin-bottom: 2rem;
}

.bottomRow {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.farmList {
  flex: 2; /* Takes more space */
  min-width: 300px;
}

.mapContainer {
  flex: 1;
  min-width: 300px;
  height: 400px;
}
