.dashboard {
  padding: 2rem;
}

.welcomeMessage {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

.topRow {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: stretch; /* Make items in the row same height */
}

.summary {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.widgets {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.middleRow {
  margin-bottom: 2rem;
}

.bottomRow {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.farmList {
  flex: 1;
  min-width: 300px;
}

.chartContainer {
  flex: 1;
  min-width: 300px;
}
