.formContainer {
  padding: 2rem;
  max-width: 600px;
  margin: 2rem auto;
  background-color: var(--card-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-top: 5px solid var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.75rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1.1rem;
  background-color: #fcfcfc;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(42, 157, 143, 0.2);
}

.button {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
  align-self: flex-start; /* Align button to the left */
}

.button:hover {
  background-color: #248a7f; /* A slightly darker shade of the primary color */
}
